<template>
  <div>
    <h1>{{ title }}</h1>
    <div>
      <button class="btn btn-primary" @click="submit">Submit</button>
      <button class="btn btn-danger" @click="cancel">Cancel</button>
    </div>
    <div class="add-customer">
      <div class="form-group">
        <label for="inputName">Name</label>
        <input class="form-control" id="inputName" v-model="customer.name">
      </div>
      <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" v-model="customer.street1">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" v-model="customer.street2">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" v-model="customer.city">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control" v-model="customer.state">
              <option v-for="state in states" :key="state.name" :value="state.abbreviation">{{ state.abbreviation }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip" v-model="customer.zip">
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
var UsaStates = require('usa-states').UsaStates
var usStates = new UsaStates()

/* eslint-disable */
export default {
  name: 'AddCustomer',
  data () {
    return {
      edit: false,
      title: 'Add Customer',
      customer: { state: 'IL' },
      states: usStates.states
    }
  },
  methods: {
    submit: function () {
    var vm = this

      if (!vm.customer.name) {
        return;
      }

      if (!vm.edit) {
        axios
          .put('/add', vm.customer)
          .then(function (res) {
            console.log(res)
            if (res.status === 200) {
              vm.customer._id = res.data
              vm.$root.$emit('addCustomer', vm.customer)
              vm.$router.push({ name: 'ListView' })
            }
          })
      } else {
        console.log('saving existing')
        vm.$router.push({ name: 'ListView' })
      }
    },
    cancel: function() {
      this.$router.push({ name: 'ListView' })
    }
  },
  mounted: function() {
    var vm = this
    console.log(this.$route.params)
    if (this.$route.params.id) {
      axios
      .get('/getCustomer', { params: this.$route.params })
      .then(function (res) {
        console.log(res)
        vm.customer = res.data
        vm.edit = true
      })
    }
  }
}
</script>

<style scoped>
  .add-customer {
    width: 50%;
    margin: auto;
  }
</style>
