<template>
  <div class="customer-view">
    <h1>{{ msg }}</h1>
    <p>{{ $route.params }}</p>
  </div>
</template>

<script>
import axios from 'axios'

/* eslint-disable */
export default {
  name: 'CustomerView',
  data () {
    return {
      msg: 'customer view',
      customer: {}
    }
  },
  created: function () {
    var id = this.$route.params

    console.log(id)

    axios
      .get('/getCustomer', { params: id })
      .then(function (res) {
        console.log(res)
      })
  }
}
</script>

<style scoped>

</style>
