<template>
  <div class="dashboard">
    <h1>{{ msg }}</h1>
    <div>
      Todos and what not
    </div>
  </div>
</template>

<script>
export default {
  name: 'Dashboard',
  data () {
    return {
      msg: 'Dashboard'
    }
  }
}
</script>

<style scoped>

</style>
