<template>
  <div class="list-view">
    <h1>{{ title }}</h1>
    <div class='list-toolbar'>
      <router-link class="btn btn-success" tag="button" to="/addcustomer">Add Customer</router-link>
      <!-- <button @click="test">Test</button>
      <button @click="call">Call</button> -->
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(customer, index) in customers" :key="customer._id">
          <td><router-link :to="{ path: '/addcustomer/' + customer._id }">{{ customer.name }}</router-link></td>
          <td>{{ customer.street1 }}</td>
          <td>{{ customer.city }}</td>
          <td>{{ customer.state }}</td>
          <td>{{ customer.zip }}</td>
          <td><a class="btn btn-danger" href="#" data-toggle="modal" data-target="#deleteModal" :data-index="index">Delete</a></td>
        </tr>
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete?</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" @click="deleteRow()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import jquery from 'jquery'

export default {
  props: ['customer'],
  name: 'ListView',
  data () {
    return {
      title: 'List',
      customers: [],
      curIndex: -1
    }
  },
  computed: {
    nextId: function () {
      return this.customers.length
    }
  },
  methods: {
    test: function () {
      this.customers.push({ id: this.nextId + 1, name: 'Dustin Granat', address1: '1420 Winston Dr.', city: 'Buffalo Grove', state: 'IL', zip: '60089' })
    },
    deleteRow: function () {
      var vm = this
      console.log('delete')
      axios
        .put('/delete', vm.customers[vm.curIndex])
        .then(function (res) {
          if (res.status === 200) {
            vm.customers.splice(vm.curIndex, 1)
            jquery('#deleteModal').modal('hide')
          }
        })
    },
    call: function () {
      axios
        .get('/initDb')
        .then(function (res) {
          console.log(res)
        })
    }
  },
  mounted () {
    var vm = this
    jquery('#deleteModal').on('show.bs.modal', function (event) {
      console.log('modal')

      vm.curIndex = jquery(event.relatedTarget).data('index')
      console.log(vm.curIndex)
    })

    this.$root.$on('addCustomer', function (customer) {
      console.log(customer)
      if (customer.name) {
        vm.customers.push({
          _id: customer._id,
          name: customer.name,
          street1: customer.street1,
          city: customer.city,
          state: customer.state,
          zip: customer.zip
        })
      }
      console.log(vm.customers)
    })

    axios
      .get('/list')
      .then(function (res) {
        console.log(res)
        vm.customers = res.data
      })
  }
}
</script>

<style scoped>
  .table-hover tbody tr:hover {
      background-color: rgba(0, 0, 0, 0.15);
  }

  .list-toolbar {
    margin-bottom: 20px;
  }

  .table td {
    vertical-align: baseline;
  }
</style>
