<template>
  <div class="map-view">
    <h1>{{ msg }}</h1>
    <button @click="test">Test</button>
    <div class="map-container">
      <gmap-map ref="mapRef" :center="{lat:42.146273, lng:-87.989872}" :zoom="15" map-type-id="roadmap" style="width: 500px; height: 500px"></gmap-map>
    </div>
  </div>
</template>

<script>
/* global google */
import {gmapApi} from 'vue2-google-maps'
import axios from 'axios'

export default {
  name: 'MapView',
  data () {
    return {
      msg: 'Map',
      customers: {}
    }
  },
  computed: {
    google: gmapApi
  },
  methods: {
    test: function () {
      console.log('test')
      console.log(this)
      console.log(google)

      var directionsService = new google.maps.DirectionsService()
      var directionsDisplay = new google.maps.DirectionsRenderer()
      console.log(directionsService)
      console.log(directionsDisplay)
      directionsDisplay.setMap(this.$refs.mapRef.$mapObject)

      var waypts = [
        {
          location: '1572 E Lake Cook Rd, Wheeling IL',
          stopover: true
        },
        {
          location: '930 Milwaukee Ave, Lincolnshire IL',
          stopover: true
        }
      ]

      var request = {
        origin: '1420 Winston Drive, Buffalo Grove IL',
        destination: '1430 Winston Drive, Buffalo Grove IL',
        travelMode: 'DRIVING',
        optimizeWaypoints: true,
        waypoints: waypts
      }

      directionsService.route(request, function (result, status) {
        directionsDisplay.setDirections(result)
        console.log(result)
        console.log(status)
      })
    }
  },
  mounted () {
    var vm = this

    axios
      .get('/list')
      .then(function (res) {
        console.log(res)
        vm.customers = res.data
      })
  }
}
</script>

<style scoped>
.map-container {
  width: 50%;
  margin: auto;
  height: 500px;
}
</style>
