<template>
  <div class="menu">
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
      <ul class="navbar-nav">
        <router-link class="nav-item" v-for="menu in menus" :key="menu.id" tag="li" :to="menu.link">
          <a class="nav-link">{{ menu.title }}</a>
        </router-link>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'NavMenu',
  data () {
    return {
      menus: [
        { id: 0, title: 'Home', link: '/dashboard' },
        { id: 1, title: 'List', link: '/list' },
        { id: 2, title: 'Map', link: '/map' }
      ]
    }
  }
}
</script>

<style scoped>
.menu li {
  margin-right: 20px;
}

.menu {
  margin-bottom: 10px;
}
</style>
