<template>
  <div id="app">
    <nav-menu></nav-menu>
    <div class="container">
      <keep-alive include="ListView" exclude="MapView">
        <router-view/>
      </keep-alive>
    </div>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import NavMenu from './components/NavMenu.vue'

export default {
  name: 'App',
  components: {
    NavMenu
  }
}
</script>

<style>
.container {
  padding: 20px;
}
</style>
